<h1 class="page-header">Posts</h1>

<div class="row ">
    <div class="col-xs-6 col-sm-3 placeholder">
        <a class="btn btn-primary" href="#/posts/add">Add New Post</a>
    </div>
</div>

<h2 class="sub-header">Table with all posts</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Created By</th>
                <th>Body</th>
                <th>Created At</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="post in PostList.posts | orderBy:'created_at':true track by $index" class="post" ng-class-odd="'odd'" ng-class-even="'even'">
                <td>{{$index + 1}}</td>
                <td>{{post.created_by.username}}</td>
                <td>{{post.text | limitTo:PostList.letterLimit}}</td>
                <td>{{post.created_at | date:"h:mma 'on' MMM d, y"}}</td>
                <td><a class="btn btn-info" href="#/posts/{{post._id}}">Edit</a></td>
                <td><button type="button"  class="btn btn-danger" ng-click="PostList.deletePost(post)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
