<h1 class="page-header">Add new post</h1>
<div class="row">
    <div class="col-md-6 .col-md-offset-3">
        <form ng-submit="PostAdd.addPost()" name="postForm" class="form-horizontal" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                    <input id="title" class="form-control" ng-minlength="5"  ng-maxlength="200"  placeholder="Title of Post" name="title" ng-model="PostAdd.newPost.title" required />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">Body</div>
                <div class="col-sm-10">
                    <div text-angular ng-model="PostAdd.newPost.text"></div>
                </div>
            </div>
            <div class="form-group">
                <label for="image" class="col-sm-2 control-label">Image</label>
                <div class="col-sm-10">
                    <input type="file" ngf-select ng-model="PostAdd.newPost.picFile" id="image" name="file" accept="image/*" ngf-max-size="20MB">
                    <i ng-show="PostAdd.newPost.file.$error.required">*required</i><br>
                    <i ng-show="PostAdd.newPost.file.$error.maxSize">File too large {{PostAdd.picFile.size / 1000000|number:1}}MB: max 2M</i>
                    <p>
                        <img ng-show="PostAdd.newPost.file.$valid" ngf-thumbnail="PostAdd.newPost.picFile" class="img-responsive" />
                    </p>
                    <button ng-click="PostAdd.newPost.picFile = null" ng-show="PostAdd.newPost.picFile">Remove</button>
                    <br/>
                    <span ng-show="PostAdd.newPost.picFile.result">Upload Successful</span>
                    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" ng-disabled="postForm.$invalid" class="btn btn-default">Create a new Post</button>
                </div>
            </div>
            <div class="help"  ng-messages="postForm.text.$error" ng-if="postForm.$submitted || postForm.text.$touched">
                <div ng-messages-include="partials/messages.html"></div>
            </div>
        </form>
    </div>
</div>
