<h1 class="page-header">Edit post</h1>

<div class="row">
    <div class="col-md-6 .col-md-offset-3">
        <form ng-submit="PostEdit.editPost(postForm$valid)" name="postForm" class="form-horizontal">
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                    <input id="title" class="form-control" ng-minlength="20"  ng-maxlength="200"  placeholder="Title of Post" name="title" ng-model="PostEdit.post.title" required />
                </div>
            </div>
            <div class="form-group">
                <label for="text" class="col-sm-2 control-label">Text</label>
                <div class="col-sm-10">
                    <textarea id="text" class="form-control" ng-minlength="20"  ng-maxlength="500 " rows="3" placeholder="Say something" name="text" ng-model="PostEdit.post.text" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" ng-disabled="postForm.$invalid" class="btn btn-default">Edit</button>
                </div>
            </div>
            <div class="help" ng-messages="postForm.text.$error" ng-if="postForm.$submitted || postForm.text.$touched">
                <div ng-messages-include="partials/messages.html"></div>
            </div>
        </form>
    </div>
</div>
