<script src="../js/libs/textAngular-rangy.min.js"></script>
<script src="../js/libs/textAngular-sanitize.min.js"></script>
<script src="../js/libs/textAngular.min.js"></script>
<script src="../js/app/services/authService.js"></script>
<script src="../js/app/services/postService.js"></script>
<script src="../js/app/services/userService.js"></script>
<script src="../js/app/controllers/authController.js"></script>
<script src="../js/app/controllers/adminController.js"></script>
<script src="../js/app/controllers/mainController.js"></script>
<script src="../js/app/controllers/postController.js"></script>
<script src="../js/app/controllers/userController.js"></script>
<script src="../js/app/directives/mainDirectives.js"></script>
<script src="../js/app/adminapp.js"></script>
