<script src="../js/angular/angular-route.min.js"></script>
<script src="../js/angular/angular-resource.min.js"></script>
<script src="../js/angular/angular-animate.min.js"></script>
<script src="../js/angular/angular-cookies.min.js"></script>
<script src="../js/angular/angular-messages.min.js"></script>
<script src="../js/angular/angular-sanitize.min.js"></script>
<script src="../js/angular/angular-touch.min.js"></script>
<script src="../js/libs/ui-bootstrap-tpls-0.14.2.min.js"></script>
<script src="../js/app/services/postService.js"></script>
<script src="../js/app/controllers/authController.js"></script>
<script src="../js/app/controllers/homeController.js"></script>
<script src="../js/app/app.js"></script>