<script src="../js/app/services/postService.js"></script>
<script src="../js/app/services/authService.js"></script>
<script src="../js/app/controllers/authController.js"></script>
<script src="../js/app/controllers/mainController.js"></script>
<script src="../js/app/controllers/homeController.js"></script>
<script src="../js/app/app.js"></script>