<script src="../js/angular/angular-route.min.js"></script>
<script src="../js/angular/angular-resource.min.js"></script>
<script src="../js/angular/angular-animate.min.js"></script>
<script src="../js/angular/angular-aria.min.js"></script>
<script src="../js/angular/angular-cookies.min.js"></script>
<script src="../js/angular/angular-messages.min.js"></script>
<script src="../js/angular/angular-sanitize.min.js"></script>
<script src="../js/libs/ui-bootstrap-tpls-1.0.3.min.js"></script>
<script src="../js/libs/ng-file-upload-shim.min.js"></script>
<script src="../js/libs/ng-file-upload.min.js"></script>
