<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="../js/angular/angular.min.js"></script>
    <!-- Custom styles for this template -->
    <link rel='stylesheet' href="../stylesheets/textAngular.css">
    <link href="../stylesheets/dashboard.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

    <body ng-app="adminApp">
    <div class="main-controller" ng-controller="MainController">
        <div ng-include src="'/partials/admin/header.html'"></div>
        <div class="container-fluid">
            <div class="row">
                <div ng-include src="'/partials/admin/admin-sidebar.html'"></div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <%- body %>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/scripts') -%>
    <%- include('partials/adminscripts') -%>
    </body>
</html>