<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="../stylesheets/style.css" rel="stylesheet">
    <link href="../stylesheets/all.css" rel="stylesheet">
    <script src="../js/angular/angular.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
    <body ng-app="mainApp">
        <div class="main main-controller" ng-controller="MainController">
            <div ng-include src="'/partials/header.html'"></div>
            <div class="container">
                <%- body %>
            </div>
            <%- include('partials/scripts') -%>
            <%- include('partials/frontendscripts') -%>
        </div>
    </body>
</html>