<div ng-show="authenticated" class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a project-nav-item href="#/">Overview  <span class="sr-only">(current)</span></a></li>
        <li><a project-nav-item href="#/posts">Posts </a></li>
        <li><a project-nav-item href="#/users">Users </a></li>
    </ul>
</div>