<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"  data-toggle="collapse" ng-click="isCollapsed = !isCollapsed" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Donika Admin Page</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" uib-collapse="isCollapsed">
            <ul class="nav navbar-nav navbar-right">
                <li active-link="active"><a href="#/">Dashboard</a></li>
                <li><a href="#/posts">Posts</a></li>
                <li><a href="#/users">Users</a></li>
                <li><a href="#/">Profile ({{currentUser.username}})</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>