/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .main {
    padding: 60px 0 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}


.help-block {
    transition:1s linear all;
}
.help-block.ng-active {

}
.help-block.ng-inactive {

}
section{padding:35px 0;}

.gendalf-div{margin:20px 0;}

.post.ng-move,
.post.ng-enter,
.post.ng-leave {
    transition:all linear 0.5s;
}
.post.ng-leave.ng-leave-active,
.post.ng-move,
.post.ng-enter {
    opacity:0;
    max-height:0;
}

.post.ng-leave,
.post.ng-move.ng-move-active,
.post.ng-enter.ng-enter-active {
    opacity:1;
    max-height:40px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.page {
    position: relative;
    min-height: 500px;
}
