<h1 class="page-header">View  user</h1>

<div class="row">
    <div class="col-md-6 .col-md-offset-3">
        <form ng-submit="UserView.post(postForm$valid)" name="userForm" class="form-horizontal">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" ng-minlength="3" ng-model="UserView.user.username" class="form-control" id="username" ng-model-options="{ updateOn: 'blur' }" placeholder="Username" required/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" disabled ng-model="UserView.user.password" class="form-control" name="password" id="password" placeholder="Password"  required/>
            </div>
            <div class="form-group">
                <label for="role">Role</label>
                <select class="form-control" name="state" id="role" ng-model="UserView.user.role.type" required >
                    <option value="">Select</option>
                    <option ng-repeat="role in UserView.roles" value="{{role.type}}">{{role.name}}</option>
                </select>
            </div>
            <input type="submit" value="Edit" ng-disabled="userForm.$invalid" class="btn btn-primary" />
            <div class="help-block" ng-messages="userForm.username.$error" ng-show="userForm.$submitted || userForm.username.$touched">
                <div ng-messages-include="/partials/messages.html"></div>
            </div>
            <div class="help-block" ng-messages="userForm.password.$error" ng-show="userForm.$submitted || userForm.password.$touched">
                <div ng-messages-include="/partials/messages.html"></div>
            </div>
        </form>
    </div>
</div>
