<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" ng-click="isCollapsed = !isCollapsed" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Donika Website</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" uib-collapse="isCollapsed">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#/">Home</a></li>
                <li ng-hide="authenticated"><a href="#/register">Signup</a></li>
                <li ng-hide="authenticated"><a href="#/login">Login</a></li>
                <li ng-show="authenticated"><a ng-click="signout()" href="#">Signout ({{currentUser.username}})</a></li>
                <li ng-if="admin"><a href="http://178.62.232.223/admin">Admin Page</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>