<div class="container">
    <div class="row">
        <div class="" ng-if="!isLoggedIn();">
            <div class="alert alert-danger" role="alert" ng-if="loginForm.$submitted">{{error_message}}</div>
            <form id="loginForm" name="loginForm" class="form-auth form-signin" ng-class="{ 'has-error': loginForm.name.$touched && loginForm.name.$invalid }" ng-submit="login()">
                <h2 class="form-signin-heading">Please sign in</h2>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" ng-minlength="3" ng-model="user.username" class="form-control" id="username" ng-model-options="{ updateOn: 'blur' }" placeholder="Username" required/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" ng-model="user.password" class="form-control" name="password" id="password" placeholder="Password"  required/>
                </div>
                <button type="submit" form="loginForm" ng-disabled="loginForm.$invalid" class="btn btn-lg btn-primary btn-block">Login</button>

                <div class="help-block" ng-messages="loginForm.username.$error" ng-show="loginForm.$submitted || loginForm.username.$touched">
                    <div ng-messages-include="/partials/messages.html"></div>
                </div>
                <div class="help-block" ng-messages="loginForm.password.$error" ng-show="loginForm.$submitted || loginForm.password.$touched">
                    <div ng-messages-include="/partials/messages.html"></div>
                </div>
            </form>
            <div class="gendalf-div">
                <img class="img-responsive" ng-src="/images/gendalf.jpg" ng-show="gendalf" alt="U do not pass"/>
            </div>
        </div>
        <div class="col-xs-12 col-md-8 col-md-offset-2" ng-if="isLoggedIn();">
            You are currently is {{currentUser.username}} , go to <a href="#/">Home Page</a>
        </div>
    </div>
</div>
