<!-- Begin page content -->
<div class="jumbotron">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <div class="page-header">
                        <h1>Main Page</h1>
                    </div>
                    <form ng-submit="post(postForm$valid)" name="postForm" ng-show="authenticated">
                        <div class="form-group">
                            <label for="text">Text</label>
                            <textarea id="text" class="form-control" ng-minlength="20"  ng-maxlength="500 " rows="3" placeholder="Say something" name="text" ng-model="newPost.text" required></textarea>
                        </div>
                        <div class="help"  ng-messages="postForm.text.$error" ng-if="postForm.$submitted || postForm.text.$touched">
                            <div ng-messages-include="partials/messages.html"></div>
                        </div>
                        <input class="btn btn-primary pull-right" type="submit" ng-disabled="postForm.$invalid" value="Post!" />
                    </form>
                    <div class="alert alert-danger" role="alert" ng-if="">{{error_message}}</div>
                </div>
            </div>
        </div>
    </section>
    <section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="post panel panel-primary" ng-repeat="post in posts | orderBy:'created_at':true" ng-class-odd="'odd'" ng-class-even="'even'">
                    <div class="panel-heading">
                        <h3 class="panel-title">Posted by @{{post.created_by.username}}</h3>
                    </div>
                    <div class="panel-body">
                        <p ng-bind-html="post.text">>{{post.text}}</p>
                        <img ng-if="post.image" ng-src="/uploads/{{post.image}}"  class="img-responsive" alt="">
                    </div>
                    <div class="panel-footer"><small class="">{{post.created_at | date:"h:mma 'on' MMM d, y"}}</small></div>
                    <!--<button type="button" ng-if="admin" class="btn btn-danger" ng-click="deletePost(post)">Delete Current Post</button>-->
                </div>
            </div>
        </div>
    </div>
    </section>
</div>