<div class="">
    <p class="alert alert-danger" role="alert" ng-message="required">This field is required</p>
    <p class="alert alert-danger" role="alert" ng-message="minlength">This field is too short</p>
    <p class="alert alert-danger" role="alert" ng-message="maxlength">This field is too long</p>
    <p class="alert alert-danger" role="alert" ng-message="required">This field is required</p>
    <p class="alert alert-danger" role="alert" ng-message="email">This needs to be a valid email</p>
</div>