<div class="container">
    <h1>Registering</h1>
    <div class="alert alert-danger" ng-if="registerForm.$submitted" role="alert">{{error_message}}</div>
    <form name="registerForm" class="form-auth" ng-submit="register()">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" ng-model="user.username" ng-minlength="3"  ng-maxlength="20" class="form-control" id="username" name="username" placeholder="Username" required/>

            <div class="help-block alert alert-danger" ng-messages="registerForm.username.$error" ng-if="registerForm.$submitted"  role="alert">
                <div ng-messages-include="/partials/messages.html"></div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" ng-model="user.email" id="email" class="form-control" name="email" placeholder="Email" required/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" ng-model="user.password" name="password" class="form-control" id="password" placeholder="Password" required/>
        </div>
        <input type="submit" ng-disabled="registerForm.$invalid" value="Register"  class="btn btn-primary" />
    </form>
</div>